VITE_FIREBASE_API_KEY=AIzaSyBLLHUDBnqjV07mb50QRuEJsXRbdEmbMGE
VITE_FIREBASE_AUTH_DOMAIN=freshcart-demo-42425.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=freshcart-demo-42425
VITE_FIREBASE_STORAGE_BUCKET=freshcart-demo-42425.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=332817351186
VITE_FIREBASE_APP_ID=1:332817351186:web:3b78727db644ee48208ecb
VITE_FIREBASE_MEASUREMENT_ID=G-FW8PN9BTNM
